main {
    width:100vw;
    height:100vh;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20.434px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 1.635px;
}
.login-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: rgba(0, 0, 0, 0.38);
    backdrop-filter: blur(2.9px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50vw;
    height: 95vh;
    text-align: center;
    color: white;
}
.image-container {
    position: relative;
    text-align: center;
    color: white;
    font-weight:100;
}
.keyboard {
    filter: blur(1px);
    filter: brightness(40%)
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}
button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}
button:hover {
    background: #0056b3;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }